<footer>
    <p id="copyright">  </p>
    <script>
        const year = new Date().getFullYear();
        document.getElementById('copyright').innerHTML = `Copyright &copy; ${year}  `;
    </script>
</footer>
</body>
</html>