<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1>Contact</h1>
       <form action="">
           <label for="name">Name</label>
           <input type="text" name="name" id="name">
           <label for="email">Email</label>
           <input type="email" name="email" id="email">
           <label for="message">Message</label>
           <textarea name="message" id="message" cols="30" rows="10"></textarea>
           <input type="submit" value="Send">
       </form>
    </main>
    <%- include('../includes/footer.ejs') %>
</body>
</html>