<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h2>Error</h2>
        <p> <%= message %></p>
    </main>
    <%- include('../includes/footer.ejs') %>
</body>
</html>