<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h2 style="text-align: center;">Success</h2>
        <p style="text-align: center;">Blog Successfully Added</p>
    </main>
    <%- include('../includes/footer.ejs') %>
</body>
</html>